@import "_settings";
@import "../../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything(true);

section{
    padding-top:4rem;
    padding-bottom:4rem;
}
h1{
    font-size:2rem;
}